/*Color Hunt is a good website to find different colors.*/
/*div
{
    background-color: #E4F9f4;
}*/
body
{
    margin: 50px auto 0 auto;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
}
h1
{
    color:  #66BFBF;
    text-align: center;
    font-size: 4.262rem;
    line-height: 2;
    font-family: 'Sacramento', cursive;
}
h2
{
    color: #22577E;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
h3
{   
    font-family: 'Montserrat', sans-serif;
}
p
{
    text-align: bold;
    font-size: 1.262rem;
}
.myimg
{
    width: 200px;
}
.top-container
{
    /*border: solid;
    border-width: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;*/
    position: relative;
    padding: 100px;
}
.only
{
    color: black;
}
/*.profile
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}*/
/*.middle-container
{
    border: solid;
    border-width: 20px;
    background-color: red;
    width: 200px;
    height: 200px;
    margin-left: 230px;
}
.bottom-container
{
    background-color: yellow;
    border: solid;
    border-width: 10px;
    width: 200px;    
    height: 200px;
    margin-left: 460px;
}*/
.name
{
    color: #11999E;
    position: relative;
    top: 50px;  
}
.top-cloud
{
    position: absolute;
    right: 500px;
}
.bottom-cloud
{
    position: absolute;
    bottom: 400px;
}
/*.pro
{
    text-decoration: underline;   
}*/
